body {
  padding-top: 60px;
}

.navbar-custom {
  background-color: #032531;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-link {
  color: white;
}

.wrap-hero {
  background-image   : url(../../assets/img/bg_ny.jpg);
  background-position: center center;
  background-size    : cover;
  margin-bottom      : 39px;
  /*margin-top:60px;*/
}

.wrap-hero .carousel-hero {
  background-color: rgba(0, 119, 158, 0.58);
  padding         : 20px 0;
}

.carousel-title {
  margin     : 0 0 10px 0;
  padding    : 0;
  font-size  : 2.2em;
  color      : #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  line-height: 1.4em;
}

.wrap-hero .carousel-hero .carousel-caption {
  position   : static;
  text-align : left;
  padding-top: 0;
}

.wrap-hero .carousel-hero .carousel-caption .carousel-list {
  color      : #fff;
  font-weight: 300;
}

.carousel-list {
  margin: 0px 0;
}

.list-unstyled {
  padding-left: 0;
  list-style  : none;
}

.wrap-hero .carousel-hero p {
  font-size  : 18px;
  line-height: 32px;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.wrap-hero .carousel-hero .carousel-caption .carousel-list strong a {
  font-weight: 300;
  color      : #cdff76;
}

.wrap-hero .carousel-hero .carousel-caption .carousel-list li {
  line-height  : 1;
  margin-bottom: 5px;
  overflow     : visible;
  text-shadow  : 1px 1px 1px rgba(0, 0, 0, 1);
}

.carousel-list li {
  color        : #fff;
  font-size    : 1.2em;
  margin-bottom: 0px;
  overflow     : hidden;
}

.wrap-hero .carousel-hero .carousel-caption .carousel-list li i {
  margin-right: 20px;
  font-size   : 24px;
}

.carousel-list li i {
  font-size   : 1.6em;
  margin-right: 20px;
  color       : #fff;
}

.img-hero {
  background   : rgba(0,0,-3,0.5);
  width        : 300px;
  height       : 300px;
  padding      : 20px;
  border-radius: 25px;
  border       : 2px solid #777;
}

.img-hero-wide {
  background   : rgba(0,0,-3,0.5);
  height       : 300px;
  padding      : 20px;
  border-radius: 25px;
  border       : 2px solid #777;
}

.btn-hero, .btn-hero:hover {
  margin          : 10px 10px 200px 10px;
  padding         : 15px 30px;
  color           : #fff;
  border          : solid 1px rgba(255, 255, 255, 0.42);
  border-radius   : 5px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  text-shadow     : none;
  transition      : all ease 0.5s;
  font-size       : 14px;
}

.animation-delay-1 {
  animation-delay: .1s !important;
}

.animation-delay-2 {
  animation-delay: .2s !important;
}

.animation-delay-3 {
  animation-delay: .3s !important;
}

.animation-delay-4 {
  animation-delay: .4s !important;
}

.animation-delay-5 {
  animation-delay: .5s !important;
}

.animation-delay-6 {
  animation-delay: .6s !important;
}

.animation-delay-7 {
  animation-delay: .7s !important;
}

.animation-delay-8 {
  animation-delay: .8s !important;
}

.animation-delay-9 {
  animation-delay: .9s !important;
}

.animation-delay-10 {
  animation-delay: 1s !important;
}

.animation-delay-11 {
  animation-delay: 1.1s !important;
}

.animation-delay-12 {
  animation-delay: 1.2s !important;
}

.animation-delay-13 {
  animation-delay: 1.3s !important;
}

.animation-delay-14 {
  animation-delay: 1.4s !important;
}

.animation-delay-15 {
  animation-delay: 1.5s !important;
}

.animation-delay-16 {
  animation-delay: 1.6s !important;
}

.animation-delay-17 {
  animation-delay: 1.7s !important;
}

.animation-delay-18 {
  animation-delay: 1.8s !important;
}

.animation-delay-19 {
  animation-delay: 1.9s !important;
}

.animation-delay-20 {
  animation-delay: 2s !important;
}

.animation-delay-21 {
  animation-delay: 2.1s !important;
}

.animation-delay-22 {
  animation-delay: 2.2s !important;
}

.animation-delay-23 {
  animation-delay: 2.3s !important;
}

.animation-delay-24 {
  animation-delay: 2.4s !important;
}

.animation-delay-25 {
  animation-delay: 2.5s !important;
}

.animation-delay-26 {
  animation-delay: 2.6s !important;
}

.animation-delay-27 {
  animation-delay: 2.6s !important;
}

.animation-delay-28 {
  animation-delay: 2.8s !important;
}

.animation-delay-29 {
  animation-delay: 2.9s !important;
}

.animation-delay-30 {
  animation-delay: 3s !important;
}

.animation-delay-40 {
  animation-delay: 4.0s !important;
}

.animation-delay-45 {
  animation-delay: 4.5s !important;
}

h2 {
  border-bottom: solid 2px #aaa;
}

.icon-pre {
  margin-right: 10px;
}

footer img {
  margin-bottom: 21px;
  width        : 75%;
}

.blockquote-big {
  font-style: oblique;
}

.blockquote-big footer {
  font-style: normal;
  font-size : .7em;
}

#About img {
  float       : left;
  margin-right: 10px;
}

article#Services_Programming, article#Services_GUI, article#Services_Design, article#Services_Commissioning, article#Services_RMS {
  padding-top: 65px;
  margin-top : -65px;
}

section#Services, section#Platforms, section#About, section#Contact {
  padding-top: 60px;
  margin-top : -60px;
}

#local-search-result {
  scroll          : auto;
  overflow        : auto;
  max-height      : 3in;
  background-color: #fef!important;
}

.search-result-list {
  padding-left: 10px;
}

.services-tag {
  font-size   : small;
  padding-left: 5px;
}

.img-services-dark {
  background-color: #21252b;
  border          : 2px solid #777;
  border-radius   : 15px;
  padding         : 20px;
}

.img-services-dark2 {
  background-color: #4b4b4b;
  border          : 2px solid #777;
  border-radius   : 15px;
  padding         : 20px;
}

.img-services-white {
  border       : 2px solid #777;
  border-radius: 15px;
  padding      : 20px;
}

.panel-default > .panel-heading {
  border-bottom: 2px solid #555;
}

.post-info i {
  margin: 0 5px;
}

.tag-cloud a span {
  vertical-align: super;
  font-size     : 0.8em;
}

.blockquote-footer-hidden {
  display: none;
}

.category-list {
  list-style  : none;
  padding-left: 15px;
}

.category-list-item {
  display      : inline-block;
  padding-left : 5px;
  padding-right: 5px;
}

.category-list-link {
}

.category-list-count {
  vertical-align: super;
  font-size     : 0.8em;
}

.tagcloud {
  padding-left: 15px;
}

/*-------------------------------------------------------
 * Services (as features)
-------------------------------------------------------*/
.features-clean {
  color           : #313437;
  background-color: #fff;
  padding-bottom  : 30px;
}

@media (max-width:767px) {
  .features-clean {
    padding-bottom: 10px;
  }
}

.features-clean p {
  color: #7d8285;
}

.features-clean h2 {
  font-weight  : bold;
  margin-bottom: 40px;
  padding-top  : 40px;
  color        : inherit;
}

@media (max-width:767px) {
  .features-clean h2 {
    margin-bottom: 25px;
    padding-top  : 25px;
    font-size    : 24px;
  }
}

.features-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin   : 0 auto 60px;
}

@media (max-width:767px) {
  .features-clean .intro {
    margin-bottom: 40px;
  }
}

.features-clean .item {
  min-height   : 100px;
  padding-left : 80px;
  margin-bottom: 40px;
}

@media (max-width:767px) {
  .features-clean .item {
    min-height: 0;
  }
}

.features-clean .item .name {
  font-size    : 20px;
  font-weight  : bold;
  margin-top   : 0;
  margin-bottom: 20px;
  color        : inherit;
}

.features-clean .item .description {
  font-size    : 15px;
  margin-bottom: 0;
}

.features-clean .item .icon {
  font-size  : 40px;
  color      : #1485ee;
  float      : left;
  margin-left: -65px;
}

/*-------------------------------------------------------
 * Platforms (as projects)
-------------------------------------------------------*/
.projects-clean {
  color           : #313437;
  background-color: #fff;
}

.projects-clean p {
  color: #7d8285;
}

.projects-clean h2 {
  font-weight  : bold;
  margin-bottom: 40px;
  padding-top  : 40px;
  color        : inherit;
}

@media (max-width:767px) {
  .projects-clean h2 {
    margin-bottom: 25px;
    padding-top  : 25px;
    font-size    : 24px;
  }
}

.projects-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin   : 0 auto;
}

.projects-clean .intro p {
  margin-bottom: 0;
}

.projects-clean .projects {
  padding-bottom: 40px;
}

.projects-clean .item {
  text-align : center;
  padding-top: 50px;
  min-height : 450px;
}

.projects-clean .item .name {
  font-weight  : bold;
  margin-top   : 28px;
  margin-bottom: 8px;
  color        : inherit;
}

.projects-clean .item .description {
  font-size    : 15px;
  margin-top   : 15px;
  margin-bottom: 0;
}

.projects-clean .pull-down {
  position : absolute;
  bottom   : 0;
  left     : 50%;
  transform: translate(-50%,-50%);
}

/*-------------------------------------------------------
 * Rows of equal height (using flex box)
-------------------------------------------------------*/
.row.display-flex {
  display  : flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display       : flex;
  flex-direction: column;
}